*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #45338f59;
}

.titulo__galeria {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

.contenedor__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    gap: 20px;
    margin: 0 10px;
}
.producto__imagen {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}
.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #342828;
    background-color: antiquewhite;
    margin: 0 auto;
    
}
.producto:nth-child(1) {
    grid-column: 1/4;
}

.producto:nth-child(8) {
    grid-column: 1/3;
    padding-bottom: 15px;
}

.producto__info {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.producto__titulo {
    padding: 10px 0;
}